
.main-body {
    margin: 10vh 30vw;
    border: 3px solid #f1f1f1;
    border-radius: 15px;
    background-color: white;
}

.uname-input, .psw-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.logo-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

input[type=text], input[type=password] {

}

.input-field {
    margin: 15px;
    width: 50%;
}

.container {
    padding: 16px;
}

button {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

span.psw {
    float: right;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 764px) {
    .main-body {
        margin: 10vh 5vw;
    }
}